{% extends 'base.html' %}

{% block title %}
Информация
{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Веб-ресурс для взаимодействия врача и пациента</h1>
          <br>
        <p class="col-md-8 fs-4">
          <p>
                Пользование данным веб-ресурсом предоставляется в двух режимах: режиме врача и режиме пациента. Чтобы воспользоваться всеми функциями, доступными для пациента, вам потребуется пройти процесс регистрации.
            </p><br>

            <p>
                После успешной регистрации вам откроется возможность пользоваться множеством функций, таких как:
            </p>
            <ul>
                <li>Добавление файлов и записей, что позволит вам хранить всю необходимую информацию в одном месте.</li>
                <li>Редактирование ранее добавленных записей, чтобы всегда поддерживать актуальность данных.</li>
                <li>Удаление устаревших или ненужных записей и файлов, чтобы сохранять порядок и точность информации.</li>
            </ul><br>
          <p>
                В режиме врача, благодаря уникальному коду пациента, медицинский специалист сможет получить доступ к вашим записям. Это обеспечивает удобный и безопасный способ обмена медицинской информацией между пациентом и врачом, что способствует более точной и персонализированной медицинской помощи и сокращает время анамнеза.
            </p>
        <br><br>
        <a href="/" class="btn btn-outline-secondary">Вернуться на главную страницу</a>
      </div>
    </div>
{% endblock %}