{% extends 'base.html' %}

{% block title %}
Добавление записи
{% endblock %}

{% block body %}
<div class="container">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Добавление записи</h1><br>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div><br>
                {% endfor %}
            {% endif %}
        {% endwith %}
          <form method="post">
              <input type="text" name="title" id="title" class="form-control" placeholder="Кратко опишите свое состояние"><br>
              <textarea name="text" id="text" class="form-control" placeholder="Более подробно опишите свое самочувствие"></textarea><br>
              <input type="submit"  class="btn btn-outline-secondary" value="Сохранить">
              <a href="/patient-posts" class="btn btn-outline-secondary">Отменить</a>
          </form>
      </div>
    </div>
</div>
{% endblock %}